{% extends 'base3.html' %}

{% block nav_link_recruiterjobapplications %}
active
{% endblock %}

{% block POP_UP_Message %}
Your Job has been Created Successfully.
{% endblock %}

{% block Reference_POP_UP_Message %}
{{ url_for('recruiterjobapplications') }} 
{% endblock %}

{% block colors %}
<style>
    body {
        background-color: rgb(231, 225, 225);
    }

    .btn1 {
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    .btn1:hover {
        background: white;
        border: 1px solid;
        color: black;
    }

    .new label:after {
        content: " *";
        color: red;
    }

    .line {
        border-bottom: 2px solid rgb(158, 157, 157);
    }
</style>
{% endblock %}

{% block content %}
<section class="form my-5">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h1 class="font-weight-bold py-0">Job Applications</h1>
            </div>
            <form action="{{ url_for('recruiterjobapplications') }}" class="form-register row g-3 needs-validation" method="post">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <h2 class="font-weight-bold py-0"><i class="bi bi-building"></i> Company Details</h2>

                <div class="new col-md-6">
                    <label for="validationCustom05" class="form-label">Name of the Company</label>
                    <input disabled type="text" class="form-control" id="validationCustom05" value="{{ cname }}">
                    <div class="invalid-feedback">
                        Please provide a valid company name.
                    </div>

                </div>

                <div class="new col-md-6">
                    <label for="validationCustom06" class="form-label">State</label>
                    <input disabled type="text" class="form-control" id="validationCustom04" value="{{ cstate }}">
                </div>

                <div class="new col-md-6">
                    <label for="validationCustom07" class="form-label">City</label>
                    <input disabled type="text" class="form-control" id="validationCustom07" value="{{ ccity }}">
                    <div class="invalid-feedback">
                        Please provide a valid city name.
                    </div>
                </div>

                <div class="new col-md-6">
                    <label for="validationCustom09" class="form-label">Pin Code</label>
                    <input disabled type="text" class="form-control" id="validationCustom09" value="{{ cpin_code }}">
                    <div class="invalid-feedback">
                        Please provide a valid pin code.
                    </div>
                </div>

                <div class="new col-md-10">
                    <label for="validationCustom08" class="form-label">Address</label>
                    <input disabled type="text" class="form-control" id="validationCustom08" value="{{ caddress }}">
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>

                <span class="line py-3 my-3"></span>

                <h2 class="font-weight-bold py-0"><i class="bi bi-file-earmark-text-fill"></i> Requirements</h2>

                <div class="new col-md-4">
                    
                    {{ form.cqualification.label(class="form-label") }}
                    {{ form.cqualification(class="form-control") }}
                </div>

                <div class="col-md-4">
                    
                    {{ form.cposition.label(class="form-label") }}
                    {{ form.cposition(class="form-control") }}
                </div>

                <div class="col-md-4">

                    {{ form.csalary.label(class="form-label") }}
                    {{ form.csalary(class="form-control") }}
                </div>

                <div class="col-md-10">
                    
                    {{ form.cdesc.label(class="form-label") }}
                    {{ form.cdesc(class="form-control") }}
                </div>
            
                <div class="form-row">
                    <div class="col-lg-3">
                        {{ form.submit(class="btn1 mt-3 mb-4 trigger-btn btn-primary") }}
                    </div>

                <!--
                <div class="form-row card-body text-center">
                    <div class="col-lg-5 wrapper text-center">
                     Button HTML (to Trigger Modal) 
                    <a href="#myModal" class="btn1 mt-3 mb-4 btn trigger-btn btn-outline btn-white btn-lg active"
                            role="button" data-toggle="modal">Save</a>
                    </div>
                </div>
                -->
            </form>


    </div>
</section>
{% endblock %}