{% extends 'base1.html' %}

{% block title %}
Recruiter
{% endblock %}

{% block colors %}
<style>
    .form
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: rgb(231, 225, 225);
    }

    .row {
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }

    .btn1 {
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    .btn1:hover {
        background: white;
        border: 1px solid;
        color: black;
    }

    .form-label:after {
        content: " *";
        color: red;
    }
</style>
{% endblock %}

{% block nav_item_signup %}
active
{% endblock %}

{% block nav_item_recruitersignup %}
active
{% endblock %}

{% block content %}
<section class="form my-1 mx-5">
    <div class="container col-lg-7 px-7 pt-5">

        <body class="bg-light vsc-initialized">

            <div class="container">
                <main>
                    <div class="py-5 text-center">
                        <h1 class="font-weight-bold py-0">Create Your Recruiter Account</h1>
                    </div>

                    <section class="form my-4 mx-5">
                        <div class="container">
                            <div class="row g-0 g-lg-0">
                                <div class="col-lg-5">

                                </div>
                                <div class="form my-4 mx-5">
                                    <h2 class="font-weight-bold py-0">Register Yourself</h2>
                                    <form action="{{ url_for("signuprecruiter") }}" class="form-register" method="post">
                                        {{ form.csrf_token }}
                                        {{ form.hidden_tag() }}
                                        <div class="col-9">
                                            {{ form.lname.label(class="form-label") }}
                                            {{ form.lname(class="form-control") }}
                                            
                                            <div class="invalid-feedback">
                                                Valid Last name is required.
                                            </div>


                                        </div>
                                        <div class="col-9">
                                            {{ form.fname.label(class="form-label") }}
                                            {{ form.fname(class="form-control") }}
                                            
                                            <div class="invalid-feedback">
                                                Valid First name is required.
                                            </div>
                                        </div>

                                        <div class="col-9">
                                            {{ form.mname.label(class="form-label") }}
                                            {{ form.mname(class="form-control") }}
                                            
                                        </div>

                                        <div class="col-sm-6">
                                            {{ form.phone_no.label(class="form-label") }}
                                            {{ form.phone_no(class="form-control") }}
                                            
                                                <div class="invalid-feedback">
                                                    Your Phone no. is required.
                                                </div>
                                            
                                        </div>

                                        <div class="col-9">
                                            {{ form.email_address.label(class="form-label") }}
                                            {{ form.email_address(class="form-control",placeholder="you@example.com") }}
                                        
                                            <div class="invalid-feedback">
                                                Please enter a valid email address.
                                            </div>
                                        </div>

                                        <div class="col-9">
                                            {{ form.username.label(class="form-label") }}
                                            {{ form.username(class="form-control") }}
                                            
                                        </div>

                                        <div class="form-row">
                                            <div class="col-9">
                                                {{ form.password_hash.label(class="form-label") }}
                                                {{ form.password_hash(class="form-control") }}
                                                
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-9">
                                                {{ form.password_hash1.label(class="form-label") }}
                                                {{ form.password_hash1(class="form-control") }}
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-lg-7">
                                                {{ form.submit(class="btn1 mt-3 mb-4 btn-primary") }}
                                                
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </section>

                    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                        crossorigin="anonymous"></script>

                    <script src="form-validation.js"></script>
        
                </main>
            </div>
        </body>
    </div>
</section>
{% endblock %}