{% extends 'base2.html' %}

{% block nav_link_studentprofile %}
active
{% endblock %}

{% block colors %}
<style>
    body {
        background-color: rgb(231, 225, 225);
    }

    .card {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 20px;
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }

    .line {
        border-bottom: 2px solid rgb(211, 209, 209);
    }


    .btn1 {
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    .btn1:hover {
        background: white;
        border: 1px solid;
        color: black;
    }
</style>

{% endblock %}

{% block content %}
<section class="form my-5">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h1 class="font-weight-bold py-0">Welcome {{ fname }}!</h1>
            </div>
            <section class="card py-3">
                <div class="container">
                    <form action="{{ url_for('studentprofile') }}" class="form-register row g-3 px-4 py-3 needs-validation " method="post">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        <h3 class="font-weight-bold py-0"><i class="bi bi-person-lines-fill"></i> Personal Information
                        </h3>

                        <br /><br />
                        <div class="col-md-4">
                            <strong>Last name:</strong>
                            {{ lname }}<br />
                        </div>

                        <div class="col-md-4">
                            <strong>First name:</strong>
                            {{ fname }}<br />
                        </div>

                        <div class="col-md-4">
                            <strong>Middle name:</strong>
                            {{ mname }}<br />
                        </div>

                        <div class="col-md-6">
                            <strong>Phone No.</strong>
                            {{ phone_no }}<br />
                        </div>

                        <div class="col-md-6">
                            <strong>Email:</strong>
                            {{ email_address }}<br />
                        </div>

                        <div class="col-md-6">
                            <strong>Date of birth:</strong>
                            {{ dob }}<br />
                        </div>

                        <div class="col-md-6">
                            <strong>Gender:</strong>
                            {{ gender }}<br />
                        </div>

                        <div class="col-md-4">
                            <strong>State:</strong>
                            {{ state }}<br />
                        </div>

                        <div class="col-md-4">
                            <strong>City:</strong>
                            {{ city }}<br />
                        </div>

                        <div class="col-md-3">
                            <strong>Pin Code:</strong>
                            {{ pin_code }}<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Address:</strong>
                            {{ address }}<br />
                        </div>

                        <span class="line py-2 my-3"></span>

                        <h3 class="font-weight-bold py-0"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38"
                                fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z" />
                                <path
                                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z" />
                            </svg> Education</h3>

                        <div class="col-md-5">
                            <strong>Graduated in:</strong>
                            {{ g_course }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>Name of your Institute:</strong>
                            {{ g_institute }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>Percentage/CGPA:</strong>
                            {{ g_percentage }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>Year of Graduation:</strong>
                            {{ g_yr }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>State:</strong>
                            {{ g_state }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>City:</strong>
                            {{ g_city }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>Qualification Level:</strong>
                            {{ hd_class }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>Name of your Institute:</strong>
                            {{ hd_institute }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>Percentage/CGPA:</strong>
                            {{ hd_percentage }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>Passing Year:</strong>
                            {{ hd_pyr }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>State:</strong>
                            {{ hd_state }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>City:</strong>
                            {{ hd_city }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>Qualification Level:</strong>
                            S.S.C. (10th)<br />
                        </div>

                        <div class="col-md-7">
                            <strong>Name of your Institute:</strong>
                            {{ ssc_institute }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>Percentage/CGPA:</strong>
                            {{ ssc_percentage }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>Passing Year:</strong>
                            {{ ssc_pyr }}<br />
                        </div>

                        <div class="col-md-5">
                            <strong>State:</strong>
                            {{ ssc_state }}<br />
                        </div>

                        <div class="col-md-7">
                            <strong>City:</strong>
                            {{ ssc_city }}<br />
                        </div>

                        <span class="line py-2 my-3"></span>

                        <h3 class="font-weight-bold py-0"><i class="bi bi-mouse2-fill"></i> Skills</h3>

                        <div class="col-md-12">
                            <strong>Skills:</strong>
                            <br />
                            {% if skill %}
                                {% for x in skill.split("\n") %}
                                    {{ x }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-12">
                            <strong>Achievements:</strong>
                            <br>
                            {% if achievements %}
                                {% for x in achievements.split("\n") %}
                                    {{ x }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-12">
                            <strong>Previous Projects:</strong>
                            <br />
                            {% if previous_projects %}
                                {% for x in previous_projects.split("\n") %}
                                    {{ x }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-md-12">
                            <strong>GitHub URL:</strong>
                            {{ git_url }}<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Hobbies:</strong>
                            <br />
                            {% if hobby %}
                                {% for x in hobby.split("\n") %}
                                    {{ x }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <span class="line py-2 my-3"></span>

                        <h3 class="font-weight-bold py-0"><i class="bi bi-briefcase-fill"></i> Work Experience</h3>

                        
                        <div class="col-md-12" >
                            <strong>Decription:</strong>
                            <br />
                            {% if work_exp %}
                                {% for x in work_exp.split("\n") %}
                                    {{ x }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                        <span class="line py-2 my-3"></span>
                        <!--
                        <div class="form-row">
                            <div class="col-lg-7">
                                {{ form.submit(class="btn1 mt-3 mb-4 btn-primary",id ="print") }}
                            </div>
                            
                            <div class="btn col-lg-7">
                                <a href="{{ url_for('studentprofile') }}"class="btn1 mt-3 mb-4 btn btn-white btn-lg active" 
                                role="button" aria-pressed="true">Login</a>
                            </div>
                            -->
                        </div>
                    </form>
            </section>


    </div>
</section>


{% endblock %}